@page "/counter"

<PageTitle>Counter</PageTitle>

<style>
    .second-button {
        margin-top: 5px;
    }
</style>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div class="second-button">
    <button class="btn btn-outline-secondary" @onclick="ResetCount">Reset Counter</button>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ResetCount()
    {
        currentCount = 0;
    }
}
