@page "/login"
@using System.ComponentModel.DataAnnotations
<Blazicons.Base.BlaziconBase></Blazicons.Base.BlaziconBase>


<PageTitle>Login</PageTitle>

<style>
    input:invalid {
        border-color: red;
    }

    .error {
        display: block;
    }   

    input:optional {
        border-style:dashed;
    }

    div.logindetail
    {
        margin-top:13px;
        border:solid;
        height:auto;
        padding:15px;
    }

    p {
        margin-left:10px;
    }

    label.logindetail {
        margin-bottom:10px;
    }
    button.btn-success {
        margin-bottom:10px;
        margin-top:5px;
    }
    div.form-group {
        margin:5px;
    }

    button.btn-close {
        font-size:28px;
    }

    Svg.info {
        margin-left:40px;
    }

</style>

@if (!showlogin)
{
    <h3>Login Screen</h3>
}


@if (showlogin)
{
    <form @onsubmit="Submit" method="post">
        <fieldset>
            <legend>Enter login details</legend>
            <div class="form-group">
                <label for="uname">Username:</label>
                <input id="uname" type="text" placeholder="Username" @bind="uname" class="form-control" />
            </div>
            <label>OR</label>          
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="email" placeholder="Email" @bind="mail" class="form-control" />
            </div>

            <div class="form-group">
                <label for="passw">Password:</label>
                <input id="passw" type="password" placeholder="Password" @bind="pword" class="form-control" required/>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <button class="btn btn-close" @onclick="CloseLogin" />
        </fieldset>
    </form>
}

<p>
    @if (!showlogin)
    {
        <button class="btn btn-success" @onclick="OpenLogin">Login</button>
    }
    
    @if (showlogin)
    {   
        <Blazicon Svg="FluentUiIcon.ErrorCircle" class="info" />  
    }      
</p>



<div class="logindetail">
    <label class="logindetail">Login informaiton:</label>
    @if (loggedin)
    {
        <p>
            Username: @login.Username
        </p>
        <p>
            Email: @login.Email
        </p>
        <p>
            Phone Number: @login.Password
        </p>
    }

</div>


@code {
    public LoginDetail login { get; set; }

    public string? uname { get; set; }

    public string? mail { get; set; }

    public string? pword { get; set; }


    public bool loggedin { get; set; }

    public bool showlogin { get; set; } = false;

    public class LoginDetail
    {       
        public string? Username { get; set; }

        public string? Email { get; set; }

        public string? Password { get; set; }
    }

    public void Submit()
    {
        loggedin = true;
        login = new LoginDetail { Username = uname, Email = mail, Password = pword };
    } 

    public void OpenLogin()
    {
        showlogin = true;
    }

    public void CloseLogin()
    {
        showlogin = false;
        login = new LoginDetail { };
    }

}
