<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazerWASM.CodeProject</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
            aria-controls="navbarCollapse" aria-label="Toggle Navigation" @onclick="ToggleNavMenu" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <Blazicon Svg="FluentUiIcon.Home" /> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="counter">
                        <Blazicon Svg="FluentUiIcon.MathSymbols" /> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="weather">
                        <Blazicon Svg="FluentUiIcon.WeatherCloudy" /> Weather
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="todolist">
                        <Blazicon Svg="FluentUiIcon.List" /> To-Do List
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="login">
                        <Blazicon Svg="FluentUiFilledIcon.EditPerson" /> Login
                    </NavLink> 
                </li>
            </ul>
        </div>
    </div>
</nav>

  

@code {
    private bool collapseNavMenu = false;

    private string? NavBarCssClass => collapseNavMenu ? "collapse" : null;
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
         collapseNavMenu = !collapseNavMenu;
    }
}
